body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;

    font-family:verdana,helvetica,arial,sans-serif;
    /* font-size:8px; */
}

body {
    display: grid;
    grid-template-rows: 1fr;
}

.done {
    color: #aaa;
}

.input-with-btn {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.badge {
    border-radius: 2px;
    font-size: 8px;
    padding: 2px;
}

.status-0 {
    background: hsl(280, 90%, 90%);
}

.status-1 {
    background: hsl(50, 90%, 90%);
}

.status-2 {
    background: hsl(165, 88%, 90%);
}

.status-3 {
    background: hsl(119, 88%, 90%);
}

.status-4 {
    background: hsl(213, 88%, 90%);
}

.status-5 {
    background: hsl(0, 88%, 90%);
}


.priority-0 {
    background: hsl(10, 90%, 90%);
}

.priority-1 {
    background: hsl(30, 90%, 90%);
}

.priority-2 {
    background: hsl(50, 90%, 90%);
}

.priority-3 {
    background: hsl(130, 90%, 90%);
}